html, body {
    height: 100%;
}

body {
    margin: 0px;

    background: linear-gradient(-45deg, #292d94, #000247);
    background-size: 200% 200%;
    animation: gradient 30s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 30% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 30% 50%;
    }
}

/*font-family: 'BankGothic Md BT', sans-serif;
font-family: 'Bank Gothic Light', sans-serif;
font-family: 'BankGothic', sans-serif;*/

.content {
  transition: 0.35s linear;
  background: #3291a8;
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 18px );
  -webkit-backdrop-filter: blur( 18px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 1rem;
  z-index: 10;
  color: whitesmoke;
  padding: 10px 20px;
  overflow: hidden;
  border-radius: 15px;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: auto;
  font-family: 'Bank Gothic Light', sans-serif;
  font-size: 20px;
}



.btn:hover{
    background-color: #262626;
    opacity: 0.2;
    transition: 0.25s linear;
}

.btn{
    transition: 0.25s linear;
    border-radius: 50%;
}


.topnav {
  transition: 0.25s linear;
  background: #fefcea; /* old browsers */
  background: linear-gradient(to bottom right, #292d94, #000247);
  padding: 10px 20px;
  border: 1px linear-gradient(to bottom right, #000247, #292d94);
  overflow: hidden;
  font-family: 'BankGothic Md BT', sans-serif;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.15s linear;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 15px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #272CB7;
  color: white;
  border-radius: 15px;

}

.theme-button
{
    transition: 0.2s linear;
    position: absolute;
    right: 0;
    display: inline;
    cursor: pointer;
    border-radius: 15px;
}

.theme-button:hover
{
    opacity: 0.2;
    -webkit-transform: scale(2);
    transform: scale(1.3);
    transition: 0.1s linear;
}
.marquee{text-align:left;width:100%;overflow:hidden;white-space: nowrap; background-color:#04AA6D; color: white;position: absolute; bottom: 0}
.marquee span { display:inline-block;width:100%;text-indent:0;animation: marquee 30s linear infinite}
@keyframes marquee {
0%  { transform: translate(100%, 0); }
100% { transform: translate(-100%, 0); }
}
@media only screen and (max-width : 2503px ){
.marquee span{animation:none;padding-left:0}
}
